<% provide(:title, "Home") %>

<div class="center jumbotron">
	<h1>Welcome to the sample app</h1>
	
	<h2>This is the homepage for the <a href="#">Ruby on Rails tut</a></h2>
	<%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
	
</div><!--jumbotron-->

<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://www.rubyonrails.org/'%>