<footer class="footer">
	<small>
		The Sample app, created by <a href="http://www.rmdmedia.co.uk">Ricky Davies</a>
		Following the <a href="http://www.railstutorial.org">Rails Tutorial</a>
	</small>
	
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.rmdmedia.co.uk" title="Merthyr Web Design">News</a></li>
		</ul>
	</nav>
</footer>